:root {
  --sketch-pad-width: 14em;
  --sketch-pad-height: 14em;

}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	/* cursor: pointer; */
	outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************************************************************************8 */

body{
    background-image: linear-gradient(to right top, #69c7f6, #79bff4, #8ab7ef, #98afe8, #a5a7df, #9fa2d9, #999dd2, #9398cc, #7a95c6, #6391bc, #4d8db0, #3b88a2);
    height: 100vh;
    padding: 10px;
  }

/* h1{
    font-family: 'Dancing Script', cursive;
    color: #563838;
} */

p,
span,
label{
    font-family: 'Caveat', cursive;
    color: #fff;
}

.color-picker{
    padding: 0;
    margin: 0;
    /* background-color: #5e5b5b; */
    /* border-radius: 200px; */
    /* margin-left:1em; */
    
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	min-width: 2em;
  min-height: 1.6em;
  /* width: 20%; */
  /* height: 20%; */
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}


/* ///////////////////////////////Header//////////////////////////////////////// */

.header.container{
    background-color: #EC8C76;
    border-radius: 100px;
    padding: 0%;
    /* margin-top:1em; */
    width: 90%;
    height: 10%;
    min-width: 270px;
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1.header.txt{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: #563838;
    text-align: center;
    /* padding: */
}


.container.main{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 5%;
  bottom: 20%;
}


/* //////////////////////////////btns-container/////////////////////////////////////////////////// */

.btns-container{
  width: max-content;
  width: var(--sketch-pad-width);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  margin: 0 auto;
}

.btns{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn{
  position: relative;
}

img{
  width:100%
}

.btn.on{
  /* border: #3b88a2 1px solid; */
  opacity: 0.3;
}

.btn:hover::before{
  content: attr(data-tooltip);
  opacity: 0.9;  
}


.btn:active {
  opacity: 0.2;
  transform: scale(1.2);
  /* border: #563838 1px solid; */
} 

.btn::before {
  position: absolute;
  font-family: 'Caveat', cursive;
  font-size: 1em;
  color: #fff;
  left: 0;
  top:0;
  width: max-content;
  transform: translateX(3%) translateY(-100%);
}

.btn.grid,
img.btn-icon{
  width: max-content;
  /* align-self: flex-end; */
  padding: 0.3em 0;
}
.grid-container{
  width: var(--sketch-pad-width);
  display: flex;
  justify-content: flex-end;

}

.btn.grid::before {
  transform: translateX(3%) translateY(120%);
}

/* ////////////////////////////sketch-pad/////////////////////////////////////// */

.sketch-pad{
    background-color: #DFEDF4;
    width: var(--sketch-pad-width);
    height: var(--sketch-pad-height);
    border-radius:4px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
}

.pixel{
  /* border: #8e8f8f 1px solid; */
  /* border-radius: 2px; */
  box-sizing: border-box;

}

/* /////////////////////Under pad////////////////////////// */

.under-pad{
  display: flex;
  width: var(--sketch-pad-width);
  align-items: center;
}

.size-display{
  /* background-color: #DFEDF4; */
  width: max-content;
}

.btn.grid.active{
  opacity: 0.3;
}

/* /////////////////////Input range///////////////////////////////////////////////// */

/* ////////////////////////Remove Default////////////////////////////////// */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* ////////////////////////////////////////////////////////// */

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.input-range{
  display: flex;
  align-items: center;
}

.label{
  width: 100px;
  margin-left: 0.5em;
  box-sizing: border-box;
}

/* ////////////////////////////////Footer///////////////////////////// */

.footer.container{
  background-color: #EC8C76;
  border-radius: 100px;
  padding: 0%;
  width: 60%;
  /* width: 90%; */
  min-width: 120px;
  max-width: 300px;
  margin: 0 auto;

  position: fixed;
  bottom: 2%;
  left: 15%;
  right: 15%;
}

h1.footer.txt{
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  color: #563838;
  text-align: center;
}

@media (min-width:357px) {
  :root {
    --sketch-pad-width: 16em;
    --sketch-pad-height: 16em;
  
  }  
}

@media (min-width:400px) {
  :root {
    --sketch-pad-width: 18em;
    --sketch-pad-height: 18em;
  
  } 
  .container.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    left: 5%;
    bottom: 15%;
  } 
}


@media (min-width:500px) {
  :root {
    --sketch-pad-width: 20em;
    --sketch-pad-height: 20em;
  
  }  
  .container.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    left: 5%;
    bottom: 15%;
  }
}

@media (min-width:600px) {
  :root {
    --sketch-pad-width: 21em;
    --sketch-pad-height: 21em;
  
  }  

  .btns-container{
    padding: 0.2em;
  }
 
  .container.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    left: 5%;
    bottom: 10%;
  }
}

@media (min-width:1345px) {
  :root {
    --sketch-pad-width: 20em;
    --sketch-pad-height: 20em;
  
  } 
}

@media (min-width:1345px) {
  :root {
    --sketch-pad-width: 23em;
    --sketch-pad-height: 23em;
  
  }  

  .container.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 40%;
    margin: 0 auto;
    /* align-items: center;
    justify-content: center; */
  
    position: absolute;
    left: 30%;
    bottom: 15%;
  }

  .btns-container{
    width: max-content;
    /* width: var(--sketch-pad-width); */
    display: inline;
    /* flex-direction: column; */
    /* gap: 1em; */
    padding: 0;
    /* margin:0; */
    transform: rotate(90deg) translateX(80%) translateY(360%);
    
    position: absolute;

    left: 0;
    /* right: 0%; */
    top: 0%;
  }

  .btn{
    transform: rotate(-90deg);
  }

  .sketch-pad{
    background-color: #DFEDF4;
    width: var(--sketch-pad-width);
    height: var(--sketch-pad-height);
    border-radius:4px;
    display:flex;
    flex-wrap: wrap;
    margin:0;
    box-sizing: border-box;

    position: absolute;
}

  .under-pad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: max-content;
    height: var(--sketch-pad-height);
    align-items: center;
  }

  
  .btn.grid.active{
    opacity: 0.3;
  }
  
  .btn.grid,
  img.btn-icon{
    width: max-content;
    align-self: flex-end;
    padding: 0.3em 0;
    transform: rotate(0deg);
  }

  .size-display{
    position: absolute;
    right: 0;
    top: 0%;

    transform: translateX(-180%) translateY(-100%);

  }

  .grid-container{
    width: max-content;
    display: inline;
    position: absolute;

    right: 0;
    bottom: 0;
  }

  .btn.grid::before {
    transform: translateX(50%) translateY(100%);
  }

  .input-range{
    position: absolute;

    top: 0%;
    transform: translateY(-120%);
  }

  .btn::before {
    position: absolute;
    font-family: 'Caveat', cursive;
    font-size: 1em;
    color: #fff;
    left: 0;
    top:0;
    width: max-content;
    transform: translateX(-120%);
  }

  .btn:hover::before{
    content: attr(data-tooltip);
    opacity: 0.9;  
  }
  
  
  .btn:active {
    opacity: 0.2;
    transform: rotate(-90deg) scale(1.2);
  }
}