/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	/* cursor: pointer; */
	outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************************************************************************8 */

body{
    background-image: linear-gradient(to right top, #69c7f6, #79bff4, #8ab7ef, #98afe8, #a5a7df, #9fa2d9, #999dd2, #9398cc, #7a95c6, #6391bc, #4d8db0, #3b88a2);
}

/* h1{
    font-family: 'Dancing Script', cursive;
    color: #563838;
} */

p,
span,
label{
    font-family: 'Caveat', cursive;
    color: #fff;
}

.color-picker{
    padding: 0;
    margin: 0;
    /* background-color: #5e5b5b; */
    /* border-radius: 200px; */
    /* margin-left:1em; */
    
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	min-width: 2em;
  min-height: 1.6em;
  /* width: 20%; */
  /* height: 20%; */
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}


/* ///////////////////////////////Header//////////////////////////////////////// */

.header.container{
    background-color: #EC8C76;
    border-radius: 100px;
    padding: 0%;
    margin-top:1em;
    width: 60%;
    margin: 2em auto;
}

h1.header.txt{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: #563838;
    text-align: center;
    /* padding: */
}


.container.main{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}


/* //////////////////////////////btns-container/////////////////////////////////////////////////// */

.btns-container{
  width: max-content;
  width: 16em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  margin: 0 auto;
}

.btns{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn{
  position: relative;
}

img{
  width:100%
}

.btn.on{
  /* border: #3b88a2 1px solid; */
  opacity: 0.3;
}

.btn:hover::before{
  content: attr(data-tooltip);
  opacity: 0.9;  
}


.btn:active {
  opacity: 0.2;
  transform: scale(1.2);
  /* border: #563838 1px solid; */
}

.btn::before {
  position: absolute;
  font-family: 'Caveat', cursive;
  font-size: 1em;
  color: #fff;
  left: 0;
  top:0;
  width: max-content;
  transform: translateX(3%) translateY(-100%);
}

.btn.grid,
img.btn-icon{
  width: max-content;
  /* align-self: flex-end; */
  padding: 0.3em 0;
}
.grid-container{
  width: 16em;
  display: flex;
  justify-content: flex-end;

}

.btn.grid::before {
  transform: translateX(3%) translateY(120%);
}

/* ////////////////////////////sketch-pad/////////////////////////////////////// */

.sketch-pad{
    background-color: #DFEDF4;
    width: 16em;
    height: 16em;
    border-radius: 4px;
    display:flex;
    flex-wrap: wrap;
    /* margin: auto; */
    /* box-sizing: border-box; */
}

.pixel{
  border: #8e8f8f 1px solid;
}





/* .container{
    background-color: bisque;
    width: 20em;
    height: 20em;
    /* border: 1px black solid; */
    border-radius: 4px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    /* box-sizing: border-box; */
} */

div{
    /* width: 6.25%;  */
    /* height:6.25%; */
    border-radius: 2px;
    box-sizing: border-box;
    border: 0.01em #e7e7e7 solid;
    background-color: aliceblue;   
}

div.color{
    background-color: black;
} 